.formCard{
  display: flex;
  flex-direction: column;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.entrainementformContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.entrainementFormItem{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.exercicesFormContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.exerciceItemContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
