<mat-card>
    <!--
    
        Program's creation
    
     -->
     <mat-card-title>Create a program</mat-card-title>
    <form [formGroup]="programFormGroup" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Program name </mat-label>
                <input matInput id="name" type="text" formControlName="name">
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button color="warn" type="submit"
                [disabled]="!this.programFormGroup.valid">Create</button>
        </div>
    </form>

</mat-card>