.form-container{
  padding-left: 35px;
  width: 100%;
}

table{
  width: 100%;
}

.inputLine{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.itemNom{
  flex-grow: 6;
}

.itemCreate{
  flex-grow: 1;
}
.itemCancel{
  flex-grow: 1;
}

.createButton:hover{
  background-color: rgb(80, 80, 80);
  color: rgb(245, 170, 55);
}

h3{
  color: white;
}
