<div class="form-container">
  <form [formGroup]="programmeFormGroup" (ngSubmit)="onSubmit()" class="form">

    <div hidden>
      <mat-form-field appearance="fill">
        <input matInput id="id" type="text" formControlName="id" [(ngModel)]="programme.id" />
      </mat-form-field>
    </div>

    <table>
        <h3>Programme</h3>
        <div class="inputLine">
          <div class="itemNom">
            <mat-form-field appearance="fill">
              <mat-label class="labelNom">Nom </mat-label>
              <input matInput id="name" type="text" formControlName="nom" [(ngModel)]="programme.nom" required />
            </mat-form-field>
          </div>
          <div class="itemCreate">
            <button mat-raised-button type="submit" [disabled]="!this.programmeFormGroup.valid"
              class="createButton">
              Ajouter
            </button>
          </div>
          <div class="itemCancel">
            <button mat-raised-button type="button" (click)="onHideCreateForm()">
              Annuler
            </button>
          </div>
        </div>

    </table>
  </form>
</div>
