<nav class="navBar-container">
  <a href="home" class="itemHome" aria-current="page">Carnet musculation</a>
  <a href="programmes" class="itemProgrammes" [hidden]="!isLogin()">Programme</a>
  <a href="historique" class="itemHistorique" [hidden]="!isLogin()">Historique</a>
  <a href="login" class="itemLogin" [hidden]="isLogin()">Login</a>
  <a href="" class="itemLogout" (click)="logout()" [hidden]="!isLogin()">Logout</a>
  <div class="itemAccount" [hidden]="!isLogin()">
    <a href="account" class="itemAccount" [hidden]="!isLogin()"><span class="material-icons md-18" [hidden]="!isLogin()">face</span>{{ username }}</a>
  </div>
</nav>
