<mat-card>

  <div class="container">
    <button mat-stroked-button (click)="displayHistorique()">Historique de vos séances</button>
    <button mat-stroked-button (click)="displaySeance()">Démarrer une séance</button>
  </div>

  <app-seance-start *ngIf="isSeanceDisplay"  [entrainementListe]="entrainementListe"
  [programmeListe]="programmeListe" (selectedProgrammeIdEvent)="onProgrammeSelect($event)"
  (selectedEntrainementIdEvent)="onEntrainementSelect($event)" [seanceInformationInit]="seanceInformationInit"></app-seance-start>
  <app-seance-historique *ngIf="isHistoriqueDisplay"></app-seance-historique>

</mat-card>
