<div class="container">
    <div *ngIf="seanceId < 1">
        Choisi une seance d'un programme pour voir le details
    </div>
    <div *ngIf="seanceId > 0">
        <button mat-raised-button (click)="resetSeanceId()">Back</button>

    </div>
    <div *ngFor="let exercice of exercices">

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

            <mat-expansion-panel-header *ngIf="seanceId != 0">
                <mat-panel-title>
                    {{exercice.nom}}
                </mat-panel-title>
                <mat-panel-description>
                    {{exercice.muscleCible}}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <app-table-serie [exercice]="exercice"></app-table-serie>


        </mat-expansion-panel>

    </div>
</div>