<mat-card>


  <div class="container">
    <button mat-stroked-button (click)="displayListe()">Vos programmes</button>
    <button mat-stroked-button (click)="displayCreer()">Creer un
      programme </button>
  </div>

    <app-programme-form *ngIf="isCreerDisplay" (programmeOnSubmit)="onSubmit($event)">
    </app-programme-form>

    <app-programme-list *ngIf="isListDisplay" (programmeOnUpdate)="onSubmit($event)" (programmeGetPage)="getPage($event)"
      [(pagination)]="pagination" [programmes]="programmes" (onProgrammeSelect)="onProgrammeSelect($event)">
    </app-programme-list>
</mat-card>
