<mat-card class="programme-page-container">


  <nav aria-label="programme-nav" class="menu">
    <button mat-stroked-button (click)="displayListe()">Vos programmes</button>
    <button mat-stroked-button (click)="displayCreer()">Creer un
      programme </button>
  </nav>

  <section class="programme-page-content">
    <ng-container>
      <app-programme-form *ngIf="isCreerDisplay" (programmeOnSubmit)="onSubmit($event)">
      </app-programme-form>
    </ng-container>

    <ng-container>
      <app-programme-list *ngIf="isListDisplay" (programmeOnUpdate)="onSubmit($event)"
        (programmeGetPage)="getPage($event)" [(pagination)]="pagination" [programmes]="programmes"
        (onProgrammeSelect)="onProgrammeSelect($event)">
      </app-programme-list>
    </ng-container>
  </section>
</mat-card>
