.programme-page-container {
  height: 25em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu {
  width: 100%;
}
.mat-stroked-button {
  width: 50%;
}

