<mat-card class="programme-page-container">

  <mat-card-title>Vos programmes</mat-card-title>

  <section class="programme-page-content">

    <ng-container class="content">
      <app-programme-list class="programme-page-content" (programmeOnUpdate)="onSubmit($event)"
        (programmeGetPage)="getPage($event)" [(pagination)]="pagination" [programmes]="programmes"
        (onProgrammeSelect)="onProgrammeSelect($event)">
      </app-programme-list>
    </ng-container>
  </section>
</mat-card>
