<h2 style="text-align: center;">Entrainements du programme <b>{{ programmeSelected.nom }}</b></h2>
<mat-card class="programme-page-container">
  <nav aria-label="entrainement-nav" class="menu">
    <button mat-stroked-button (click)="displayListe()">Vos entrainements</button>
    <button mat-stroked-button (click)="displayCreer()">Creer un
      entrainement</button>

    </nav>

  <!-- Création d'un entrainement -->
  <app-entrainement-form *ngIf="isCreerDisplay" [programmeListe]="programmeListe" [exerciceListe]="exerciceListe">
  </app-entrainement-form>

  <!-- Liste des entrainements lié à un programme -->
  <app-entrainement-liste *ngIf="isListDisplay" [entrainementListe]="entrainementListe"
    [programmeSelected]="programmeSelected"
    (selectedProgrammeIdEvent)="onProgrammeSelect($event)" (onEntrainementSelect)="onEntrainementSelect($event)"
    (onDeleteEntrainementIdEvent)="onEntrainementDelete($event)"
    (onModificationEntrainement)="onModificationEntrainement($event)">
  </app-entrainement-liste>

  <!-- Démarrer un entrainement -->
  <section *ngIf="entrainementSelected.id != -1">
    <button mat-button (click)="retour()">
      <span mat-icon class="material-icons">arrow_back</span>
    </button>
    <app-entrainement-start [entrainementSelected]="entrainementSelected" (seance)="seance"></app-entrainement-start>
  </section>



  <!-- Pour modification d'un entrainement -->
  <app-entrainement-form *ngIf="isModification" [programmeListe]="programmeListe" [exerciceListe]="exerciceListe"
    [entrainementToUpdate]="entrainementToUpdate" (annulerModification)="annulerModification()">
  </app-entrainement-form>
</mat-card>
