mat-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
mat-table {
    width: auto;
}
th{
    width: 200px;
    text-align: center;
}

.pagination{
    display: flex;
    width: 6em;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}