.container{
  background-color: rgba(80, 80, 80, 0.7);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

mat-table{
  background-color: rgba(80, 80, 80, 0.7);
  width: 100%;
}

mat-paginator{
  padding-right: 25%;
  background-color: rgba(80, 80, 80, 0.7);
}

.table-footer{
  background-color: rgba(80, 80, 80, 0.7);
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.mat-column-nom{
  color: white;
  width: 50%;
}
.mat-column-update{
  color: white;
  width: 10%;
}
.mat-column-deletion{
  color: white;
  width: 10%;
}

.tableHeader{
  color: rgb(245, 170, 55);
}


.menuItem{
  display: flex;
  justify-content: center;
}

.boutonCreer{
  color: rgb(255, 255, 255);
  background-color: rgb(40, 40, 40);
  border-color: rgb(245, 170, 55);
}
.boutonCreer:hover{
  color: rgb(245, 170, 55);
  background-color: rgb(60, 60, 60);
}

.creerProgrammeBouton{
  display: flex;
  justify-content: center;
}
