.container {
    width: auto;
    margin: 2%;
    display: flex;
}

button {
    width: 80%;
}

.exercice-details {
    color: rgb(180, 180, 180);
    background-color: rgb(65, 65, 65);
    margin-left: 150px;
    width: 70%;
}

.menu-program {
    color: rgb(221, 221, 221);
    background-color: rgb(65, 65, 65);
}

mat-form-field {
    background-color: rgb(180, 180, 180);
    border-radius: 4px;
}