<div class="container">
    <mat-card class="menu-program">
        <mat-form-field appearance="fill">
            <mat-label>Programme</mat-label>
            <mat-select [(value)]="programSelected">
                <mat-option *ngFor="let program of programs" [value]="program">
                    {{program.nom}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngIf="(programSelected.id != 0)">
            <app-seances-list-from-programme [programme]="programSelected" (selectedSeanceId)="onSeanceSelect($event)"></app-seances-list-from-programme>
        </div>
    </mat-card>

    <mat-card class="exercice-details">
        <app-exercice-panel [seanceId]="selectedSeanceId"></app-exercice-panel>
    </mat-card>
</div>