<mat-card class="programme-page-container">

  <nav aria-label="seance-nav" class="menu">
    <button mat-stroked-button (click)="displayHistorique()">Historique de vos séances</button>
    <button mat-stroked-button (click)="displaySeance()">Démarrer une séance</button>
  </nav>

  <app-seance-start *ngIf="isSeanceDisplay" [entrainementListe]="entrainementListe" [programmeListe]="programmeListe"
    [programmeId]="programmeId" [entrainementId]="entrainementId" (selectedProgrammeIdEvent)="onProgrammeSelect($event)"
    (selectedEntrainementIdEvent)="onEntrainementSelect($event)" [seanceInformationInit]="seanceInformationInit"
    [seanceId]="seanceId">
  </app-seance-start>
  <app-seance-historique *ngIf="isHistoriqueDisplay"></app-seance-historique>

</mat-card>
