<mat-accordion *ngIf="seances.length > 0">
    <mat-expansion-panel hideToggle *ngFor="let seance of seances">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div>{{seance.nom}}</div>
            </mat-panel-title>
            <mat-panel-description>
                <div>Creation : {{seance.dateCreation | date}} | Type : {{seance.muscleCible}}</div>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list #exercices class="exerciceList">
            {{seance.exerciceIds}} 
        </mat-list>
    </mat-expansion-panel>