<mat-form-field>
  <mat-label> Programme : </mat-label>
  <mat-select [(ngModel)]="programmeSelected.id" (ngModelChange)="onProgrammeSelect($event)">
    <mat-option *ngFor="let programme of programmeListe" [value]="programme.id">
      {{ programme.nom }}
    </mat-option>
  </mat-select>
</mat-form-field>

<div *ngIf="dataSource.data.length <= 0" class="warning">Il n'y a actuellement pas d'entrainement pour ce programme.
</div>

<mat-table *ngIf="dataSource.data.length > 0" [dataSource]="dataSource" mat-sort class="entrainements">
  <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

  <!-- Date de création -->
  <ng-container matColumnDef="dateCreation">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date création</th>
    <td mat-cell *matCellDef="let entrainement">
      {{ entrainement.dateCreation | date }}
    </td>
  </ng-container>

  <!-- Nom -->
  <ng-container matColumnDef="nom">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
    <td mat-cell *matCellDef="let entrainement">
      <div>
        {{ entrainement.nom }}
      </div>
      <!-- TO FIX, find a way to update entrainement proprement -->
      <div *ngIf="entrainementToUpdate.id === entrainement.id">
        <app-entrainement-form [entrainementId]="entrainement.id"></app-entrainement-form>
        <button mat-button>
          <span mat-icon class="material-icons" (click)="onUpdate()">check_circle_outline</span>
        </button>
        <button mat-button>
          <span mat-icon class="material-icons" (click)="cancelUpdate()">highlight_off</span>
        </button>
      </div>
    </td>
  </ng-container>

  <!-- Type -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
    <td mat-cell *matCellDef="let entrainement">
      {{ entrainement.type }}
    </td>
  </ng-container>

 <!-- Mettre a jour -->
 <ng-container matColumnDef="update">
  <th mat-header-cell *matHeaderCellDef></th>
  <td mat-cell *matCellDef="let entrainement">
    <button mat-button (click)="setToUpdate(entrainement)">
      <span mat-icon *ngIf="entrainementToUpdate.id != entrainement.id" class="material-icons">create</span>
    </button>
  </td>
</ng-container>

<!-- Supprimer -->
<ng-container matColumnDef="deletion">
  <th mat-header-cell *matHeaderCellDef></th>
  <td mat-cell *matCellDef="let programme">
    <button mat-button (click)="onDelete(programme.id)">
      <span mat-icon type="button" class="material-icons">delete</span>
    </button>
  </td>
</ng-container>

  <!-- Start -->
  <ng-container matColumnDef="start">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Démarrer l'entrainement
    </th>
    <td mat-cell *matCellDef="let entrainement">
      <button mat-button (click)="onEntrainementSelect(entrainement.id)">
        <span mat-icon class="material-icons">play_arrow</span>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</mat-table>
