.card-container{
  background-color: rgba(80, 80, 80, 0.7);
}

.entrainements{
  background-color: rgba(80, 80, 80, 0.7);
}

.mat-column-dateCreation{
  width: 10rem;
}

.mat-column-nom{
  width: 15rem;
}

.mat-column-type{
  width: 5rem;
}

