<div *ngIf="seanceInformationInit.detailsExercice.length > 0">
  <div *ngFor="let detail of seanceInformationInit.detailsExercice">
    <mat-accordion class="serie-panel-container">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> {{ detail.nom }} </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="serieContainer">
          <ng-container *ngFor="let serieNumber of detail.nbSerie | count" class="serieItem">
            <div>
              <div class="serieHead">
                <h4>Série {{ serieNumber + 1 }}</h4>
              </div>
              <div class="serieDescription">
                <app-serie-form class="serieFormContainer"
                [numeroSerie]="serieNumber +1"
                [seanceId]="seanceId"
                [exerciceId]="detail.exerciceId"
                [entrainementId]="entrainementId"
                ></app-serie-form>
              </div>
            </div>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="boutonSubmit">
    <button mat-button (click)="onSeanceOver()" class="finSeanceBouton">Terminer ma séance</button>
  </div>
</div>
