<div *ngIf="!isSeanceSelected">

  <mat-form-field>
    <mat-label> Programme : </mat-label>
    <mat-select [ngModel]="selectedProgrammeIdEvent" (ngModelChange)="onProgrammeSelect($event)" name="programme">
      <mat-option *ngFor="let programme of programmeListe" [value]="programme.id">
        {{ programme.nom }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="entrainementListe.length <= 0" class="warning">Il n'y a actuellement pas d'entrainement pour ce programme.</div>

<div *ngIf="entrainementListe.length > 0 && !isSeanceSelected">
  <mat-form-field>
    <mat-label> Entrainement : </mat-label>
    <mat-select [ngModel]="selectedEntrainementIdEvent" (ngModelChange)="onEntrainementSelect($event)"
      name="entrainement">
      <mat-option *ngFor="let entrainement of entrainementListe" [value]="entrainement.id">
        {{ entrainement.nom }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="seanceInformationInit.detailsExercice.length > 0">
  <div *ngFor="let detail of seanceInformationInit.detailsExercice">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> {{ detail.nom }} </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="serieContainer">
          <ng-container *ngFor="let serieNumber of detail.nbSerie | count" class="serieItem">
            <div>
              <div class="serieHead">
                <h4>Série {{ serieNumber + 1 }}</h4>
              </div>
              <div class="serieDescription">
                <app-serie-form class="serieFormContainer"
                [numeroSerie]="serieNumber +1"
                [seanceId]="seanceId"
                [exerciceId]="detail.exerciceId"
                [entrainementId]="entrainementId"
                ></app-serie-form>
              </div>
            </div>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <button mat-button (click)="onSeanceOver()">Terminer ma séance</button>
</div>
